{% set css_classes = [
  card_block|default('card'),
  card_modifier|default('')
] %}

<div class="{{ css_classes|join(' ') }}">
  {% block card_media %}
    {% if card_img %}
      <div class="card__media">
        {% include "@atoms/image/_image.twig" with {
          "img_src": card_img,
          "img_css": "card__image"
        } %}
      </div>
    {% endif %}
  {% endblock %}

  <div class="card__content">
    {% block card_content %}
      {% if card_title %}
        {% include "@atoms/text/_heading.twig" with {
          "heading_content": card_title,
          "heading_level": "2",
          "heading_css": "card__title"
        } %}
      {% endif %}

      {% if card_subtitle %}
        {% include "@atoms/text/_heading.twig" with {
          "heading_content": card_subtitle,
          "heading_level": "3",
          "heading_css": "card__subtitle"
        } %}
      {% endif %}

      {% if card_text %}
        {% include "@atoms/text/_paragraph.twig" with {
          "paragraph_content": card_text,
          "paragraph_css": "card__text"
        } %}
      {% endif %}
    {% endblock %}
  </div>
</div>
