.node--people-bio--teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;

  .person__link {
    display: block;
    max-width: 200px;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;

      .person__image {
        transform: translate3d(0, -18px, 0);

        > img {
          border: 2px solid $orange;
        }
  
        &:after {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }

  .person__image {
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease-out;

    > img {
      // @include fluid-image-full();
      border-radius: 100%;
      border: 2px solid transparent;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -18px;
      left: calc(50% - 20px);
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: $orange;
      background-image: url();
      background-position: center center;
      background-size: 16px;
      background-repeat: no-repeat;
      color: $white;
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1);
      transition: 
        transform 0.324s ease-out,
        opacity 0.01s ease-out;
    }
  }

  .person__heading {
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.2272;
    letter-spacing: -0.55px;
    text-transform: inherit;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .person__occupation {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.3333;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $black;
    max-width: 200px;
    text-align: center;
  }
}
