// @file
// Layout variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$max-page-width: 1440px;
$gutter-width: 2rem;

// Default Breakpoints
$bp-small: 600px;
$bp-medium: 800px;
$bp-large: 1100px;

$bp-tablet-wide: $bp-large;

// Utility Breakpoints
$bp-hide-mobile-menu: $bp-tablet-wide;

$z-index: (
  skiplinks: 999,
  modal: 200,
  navigation: 100,
  level-3: 3,
  level-2: 2,
  level-1: 1,
  default: 0,
  below: -1,
);

@mixin layout-constrain($max-page-width: $max-page-width, $gutter-width: $gutter-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: rem($max-page-width);

  @if $gutter-width {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
  }

  & & { // just in case .l-constrain is nested within another .l-constrain
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin layout-breakout {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  // these use the scrollbar class on body
  // (set by custom js in sparkle_motion base theme)
  // to adjust for the scrollbar's width so 100vw behaves
  // as expected.
  .scrollbar-5 & {
    width: calc(100vw - 5px);
    margin-left: calc(-50vw + 50% + 2.5px);
  }

  .scrollbar-12 & {
    width: calc(100vw - 12px);
    margin-left: calc(-50vw + 50% + 6px);
  }

  .scrollbar-15 & {
    width: calc(100vw - 15px);
    margin-left: calc(-50vw + 50% + 7.5px);
  }

  .scrollbar-17 & {
    width: calc(100vw - 17px);
    margin-left: calc(-50vw + 50% + 8.5px);
  }
}

// Constrain
.l-constrain {
  @include layout-constrain;
}

.l-constrain-narrow {
  @include layout-constrain(1044px, $gutter-width);
}

.l-constrain--no-padding {
  padding-left: 0;
  padding-right: 0;
}
