/*----------------------------------------------------
# Button
----------------------------------------------------*/
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0; }

.button-primary {
  background: #2699fb;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none; }

/*----------------------------------------------------
# Horizontal Rule
----------------------------------------------------*/
hr {
  border: 1px solid #efefef;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  margin: 1rem 0;
  padding-bottom: -1px; }

/*----------------------------------------------------
# Image
----------------------------------------------------*/
img {
  height: auto;
  width: 100%; }

.image--fixed {
  width: auto; }

/*----------------------------------------------------
# Media Object
----------------------------------------------------*/
.media-object {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0; }

.media-object > img {
  width: auto;
  margin: 0 1em 0 0; }

.media-object > div {
  flex: 1; }

.media-object > div > p {
  margin-top: -0.15em; }

/*----------------------------------------------------
# Section
----------------------------------------------------*/
section {
  margin-bottom: 2em; }

/*----------------------------------------------------
# Spacing
----------------------------------------------------*/
.spacer--1em {
  height: 1em; }

.spacer--2em {
  height: 2em; }

.spacer--3em {
  height: 3em; }

.spacer--4em {
  height: 4em; }

.spacer--5em {
  height: 5em; }

.spacer--5em {
  height: 5em; }

.spacer--6em {
  height: 6em; }

.spacer--7em {
  height: 7em; }

.spacer--8em {
  height: 8em; }

.spacer--9em {
  height: 9em; }

.spacer--10em {
  height: 10em; }

.spacer--11em {
  height: 11em; }

.spacer--12em {
  height: 12em; }
