// @file

.image-text-combo__content {
  text-align: left;
}

.image-text-combo__title {
  color: $blue;
  font-size: 2rem;
  line-height: 1.1;
}

.image-text-combo__image {
  height: auto;
  min-width: 368px;
  width: 100%;

  @media only screen and (min-width: 600px) {
    min-width: 0;
  }
}
