{% set section_classes = [
  section_block|default('image-text-repeat-media-right'),
  section_modifier|default(''),
  section_background|default(''),
] %}

{% set grid_classes = [
  grid_block|default('grid-wrapper'),
  grid_modifier|default('grid-custom--repeat-media-right'),
] %}

<section class="{{ section_classes|join(' ') }}">
  <div class="constrain">
    <div class="{{ grid_classes|join(' ') }}">
      {% for item in items %}
        {% include "@molecules/image-text-combo/_image-text-combo.twig" 
          with {
            "combo_image": item.combo_image,
            "combo_title": item.combo_title,
            "combo_text": item.combo_text,
            "combo_button": item.combo_button,
            "combo_button_url": item.combo_button_url
          }
        %}
      {% endfor %}
    </div>
  </div>
</section>
