{% set css_classes = [
  image_text_combo_block|default('image-text-combo'),
  image_text_combo_modifier|default(''),
] %}

<div class="image-text-combo__media">
  {% block combo_media %}
    {% if combo_image %}
      {% include "@atoms/image/_image.twig" with {
        "img_src": combo_image,
        "img_css": "image-text-combo__image"
      } %}
    {% endif %}
  {% endblock %}
</div>

<div class="image-text-combo__content">
  {% block combo_content %}
    {% if combo_title %}
      {% include "@atoms/text/_heading.twig" with {
        "heading_content": combo_title,
        "heading_level": "2",
        "heading_css": "image-text-combo__title"
      } %}
    {% endif %}

    {% if combo_text %}
      {% include "@atoms/text/_paragraph.twig" with {
        "paragraph_content": combo_text,
        "paragraph_css": "image-text-combo__text"
      } %}
    {% endif %}

    {% if combo_button %}
      {% include "@atoms/button/_button.twig" with {
        "button_content": combo_button,
        "button_url": combo_button_url,
        "button_css": "image-text-combo__button button-primary"
      } %}
    {% endif %}
  {% endblock %}
</div>
