
{%
  set classes = [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    'paragraph--' ~ paragraph.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set images = [
  {
    imageUrl : '/sites/default/files/2021-02/placeholder.png',
    imageAlt: 'image alt',
    copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit sagittis dictum. Phasellus id tincidunt dui. Integer euismod odio id sollicitudin laoreet. '
  },
  {
    imageUrl : '/sites/default/files/2021-02/placeholder.png',
    imageAlt: 'image alt',
    copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit sagittis dictum. Phasellus id tincidunt dui. Integer euismod odio id sollicitudin laoreet. '
  },
  {
    imageUrl : '/sites/default/files/2021-02/placeholder.png',
    imageAlt: 'image alt',
    copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit sagittis dictum. Phasellus id tincidunt dui. Integer euismod odio id sollicitudin laoreet. '
  },
  {
    imageUrl : '/sites/default/files/2021-02/placeholder.png',
    imageAlt: 'image alt',
    copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit sagittis dictum. Phasellus id tincidunt dui. Integer euismod odio id sollicitudin laoreet. '
  }
] %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {# Using generic template to img caption in paragraph #}
      {% include '@repeat_example/components/img-caption.html.twig' with {
        'modifier': 'img-caption--paragraph-' ~ paragraph.bundle()|clean_class,
        'images': images,
        'id': paragraph.id()
      } only %}       
    {% endblock %}
  </div>
{% endblock paragraph %}
