// @file
// Color variables


// COLOR PALETTES
//---------------

// Primary Palette
$blue: #2699fb;
$blue-alt: #7fc4fd;
$blue-mid: #bce0fd;
$blue-light: #d9efff;

// Grayscale Palette
$white: #fff;
$gray-white: #efefef;
$gray-light: #ddd;
$gray: #9f9f9f;
$gray-dark: #656565;
$black: #000;

// Social Media Palette
$facebook: #3b5998;
$twitter: #5faced;
$youtube: #e52f26;


// TEXT
//-----

// Body Text
$color-text-primary: $gray-dark;
$color-text-secondary: $black;
$color-text-on-dark: $white;

// Link Text
$color-text-link: $blue;
$color-text-link-hover: $blue-alt;
$color-text-link-active: $blue-alt;
$color-text-link-visited: $blue-alt;

// Selection Text
$color-text-selection: $white;

// Inputs Text
$color-text-input-label: $gray-dark;
$color-text-input-placeholder: $gray;
$color-text-input-disabled: $gray;
// $color-text-input-error: $red;


// BACKGROUNDS
//------------

// Base Backgrounds
$background-color-primary: $white;
$background-color-secondary: $gray-light;
$background-color-tertiary: $gray-dark;
$background-color-quaternary: $blue;
$background-color-quinary: $blue-alt;
$background-color-light: $background-color-primary;
$background-color-dark: $background-color-tertiary;

// Selection Background
$background-color-selection: $blue;

// Inputs Background
$background-color-input: $gray-white;
$background-color-input-focus: $white;
$background-color-input-disabled: $gray;
$background-color-input-error: $gray-light;
$background-color-input-hover: $white;

// Table Header Background
$background-color-table-header: $gray-light;
$background-color-table-cell: $white;


// BORDERS
//--------

// General UI Border
$border-color-ui: $gray-light;
$border-color-primary: $gray-dark;
$border-color-secondary: $gray;

// Inputs Border
$border-color-input: $gray-dark;
$border-color-input-disabled: $gray-light;


// SHADOWS
//--------
$box-shadow-color: $black;


// REMOVE LATER
// Used by previous patterns...
$phthalo-green: #003638;
$teal-dark: #065F61;
$teal: #1A8782;
$teal-light: #68AC9F;
$purple: #660558;
$purple-light: #80387D;
$gray-dark-transparent: rgba(#404547, 0.5);
$red-error: #9e0e01;
$red-error-light: #f5e6e7;
$yellow-warning: #d0984d;
$yellow-warning-light: #f7f1cd;
$green-status: $teal-light;
$green-status-light: #f5fffd;
$taupe: #e1dbd8;
$blue-gray: #5e6478;
$purple-gray: #4e647e;
$lavender: #756b7b;
$jade: #5d6e6f;
$gold: #7f643d;
$hot-pink: #ff00f5;
$app: $teal-light;
$email: $teal-dark;
$facebook: #3b5998;
$twitter: #5faced;
$youtube: #e52f26;
$podcast: $purple;
$color-main-menu-link-active: $purple;
