// @file

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-primary {
  background: $blue;
  color: $white;
  padding: 5px 15px;
  text-decoration: none;
}
