{% set css_classes = [
  info_block|default('info-block'),
  info_block_modifier|default('')
] %}

<div class="{{ css_classes|join(' ') }}">
  {% block info_block_content %}
    {% if info_block_title %}
      {% include "@atoms/text/_heading.twig" with {
        "heading_content": info_block_title,
        "heading_level": "2",
        "heading_css": "info-block__title"
      } %}
    {% endif %}

    {% if info_block_text %}
      {% include "@atoms/text/_paragraph.twig" with {
        "paragraph_content": info_block_text,
        "paragraph_css": "info-block__text"
      } %}
    {% endif %}

    {% if info_block_button %}
      {% include "@atoms/button/_button.twig" with {
        "button_content": info_block_button,
        "button_url": info_block_button_href,
        "button_css": "info-block__button button-primary"
      } %}
    {% endif %}
  {% endblock %}
</div>
