<section class="">
  <div class="constrain">
    <div class="grid-wrapper grid-custom--repeat-media-left">
      {% include "@molecules/image-text-combo/_image-text-combo.twig" %}
    </div>
  </div>
</section>