// example component using:
//
// templates/paragraphs/paragraph--accordion.html.twig
//
// and
//
// js/components/accordion.js
//
// Presumes the existence of an Accordion paragraph type
// with field_title and field_content.
//

.l-page main.l-content .paragraph.paragraph--type--accordion {
  @include container-reading;

  > .field--name-field-title {
    color: $color--blue2;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.paragraph--type--accordion-item {
  background-color: $color--gray-lt;
  border-radius: 4px;

  &.accordion--collapsed {
    box-shadow: $box-shadow;
    background-color: $color--white;
  }
}

.accordion {
  .accordion__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    user-select: none;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 4px;
  }

  .accordion__toggle {
    display: block;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;

    .accordion__toggle-icon {
      position: relative;
      width: 2rem;
      height: 2rem;
      transform: rotateZ(0);
      transition: transform 0.75s ease-in-out;
    }

    .accordion__toggle-icon-horizontal,
    .accordion__toggle-icon-vertical {
      position: absolute;
      background-color: $color--teal;
      transition: background-color 0.2s linear;
    }

    .accordion__toggle-icon-horizontal {
      top: calc(50% - 0.1125rem);
      left: calc(50% - 0.6rem);
      width: 1.2rem;
      height: 0.225rem;
    }

    .accordion__toggle-icon-vertical {
      top: calc(50% - 0.6rem);
      left: calc(50% - 0.1125rem);
      width: 0.225rem;
      height: 1.2rem;
      opacity: 0;
      transition: opacity 0.25s ease-in-out 0.5s;
    }
  }

  .accordion__content {
    display: none;
    padding: 0.5rem 2rem;
    overflow: hidden;
  }

  &.accordion--collapsed .accordion__toggle {
    .accordion__toggle-icon-horizontal,
    .accordion__toggle-icon-vertical {
      background-color: $color--blue2;
    }

    .accordion__toggle-icon {
      transform: rotateZ(-180deg);
    }

    .accordion__toggle-icon-vertical {
      opacity: 1;
      transition: opacity 0.25s ease-in-out 0s;
    }
  }
}
