//_____________________________________________
//
// Card
//_____________________________________________

.paragraph--type--card-layout {
  background: #fff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.16);
  padding-bottom: 0.75em;

  @media only screen and (min-width: $bp-layout-builder) {
    height: 100%;
  }

  .field--name-field-card-tag {
    background: $blue-secondary;
    border-radius: 0 0 100% 0;
    color: #fff;
    max-width: 110px;
    padding: 1em 2em 2.5em 1em;
    position: absolute;
    z-index: 99;
  }

  .field--name-field-card-image {
    height: 300px;
    overflow: hidden;

    @media only screen and (min-width: $bp-layout-builder) {
    }

    @media only screen and (min-width: 750px) {
    }
  }

  .field--name-field-card-title,
  .field--name-field-card-body,
  .field--name-field-card-cta,
  .field--name-field-card-links {
    padding-left: 20px;
    padding-right: 20px;
  }

  .field--name-field-card-title {
    color: $gray-heading;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    padding-top: 1.5em;
  }

  .field--name-field-card-body {
    margin-bottom: 1em;
  }

  .field--name-field-card-cta {
    a {
      background: $blue-secondary;
      color: #fff;
      display: inline-block;
      margin-bottom: 1em;
      padding: 0.5em;
      text-align: center;
      width: 100%;
      max-width: 292px;
    }

    a:hover,
    a:focus {
      background: $blue-primary;
    }
  }

  .field--name-field-card-links {
    margin-top: 1em;
    margin-bottom: 2em;

    .field__item {
      display: flex;
      margin-bottom: 0.75em;
    }

    a {
      flex: 0 1 150%;
    }

    .card-links__icon {
      align-self: start;
      padding-top: 5px;
      padding-right: 7px;
      height: 1.2em;
    }
  }
}

.card__image-background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-bottom: -375px;

  @media only screen and (min-width: $bp-layout-builder) {
    background-size: contain;
  }
}

.node--type-home-page {
  .card__image-background {
    @media only screen and (min-width: 950px) {
      background-size: cover;
    }
  }
}

.node--type-landing-page {
  .card__image-background {
    @media only screen and (min-width: $bp-mobile-menu) {
      background-size: cover;
    }
  }
}

.card__image-position--,
.card__image-position--center {
  .field--name-field-card-image {
    img {
      clip-path: circle(120px at center 80px);
    }
  }
}

.card__image-position--left {
  .field--name-field-card-image {
    img {
      clip-path: circle(120px at 40% 80px);
    }
  }
}

.card__image-position--right {
  .field--name-field-card-image {
    img {
      clip-path: circle(120px at 66% 80px);
    }
  }
}

.block-field-blocknodehome-pagefield-layout-builder {
  @media only screen and (min-width: $bp-layout-builder) {
    width: 104%;
  }

  @media only screen and (min-width: 768px) {
    width: 103%;
  }

  @media only screen and (min-width: $bp-mobile-menu) {
    width: 100%;
  }

  .paragraph--type--erl-section:last-child {
    .layout--fourcol-section > .layout__region {
      @media only screen and (min-width: $bp-layout-builder) {
        flex: 0 1 21%;
      }

      @media only screen and (min-width: 768px) {
        flex: 0 1 23%;
      }

      @media only screen and (min-width: 1000px) {
        flex: 0 1 25%;
      }
    }
  }
}
