{%
  set classes = [
    'accordion',
    'accordion--collapsed',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="accordion__title accordion__trigger--toggle-accordion">
        {{ content.repeat_title }}

        <button class="accordion__toggle accordion__trigger--toggle-accordion">
          <span class="accordion__toggle-label visually-hidden">expand and show content</span>
          <div class="accordion__toggle-icon">
            <div class="accordion__toggle-icon-horizontal"></div>
            <div class="accordion__toggle-icon-vertical"></div>
          </div>
        </button>
      </div>

      <div class="accordion__content">
        {{ content.repeat_content }}
      </div>

    {% endblock %}
  </div>
{% endblock paragraph %}

{{ attach_library('repeat_example/accordion') }}
